<div style="margin-left: auto;
margin-right: auto;">
<mat-card>
    <form #search="ngForm"  (ngSubmit)="onClickSubmit(search.value)">

        <mat-form-field appearance="outline">
            <mat-label>Année (2020+)</mat-label>
            <input matInput ngModel required="true" name="annee" type="number" id="annee">
          </mat-form-field>
        <mat-form-field appearance="outline" name="port" >
            <mat-label>Port</mat-label>
            <mat-select [(ngModel)]="selected" [(value)]="selected" name="port" id="port">
              <mat-option value="1" >PORT DE LA GOULETTE</mat-option>
              <mat-option value="3" >PORT DE BIZERTE</mat-option>
              <mat-option value="4" >PORT DE SOUSSE</mat-option>
              <mat-option value="5" >PORT DE SFAX</mat-option>
              <mat-option value="6" >PORT DE GABES</mat-option>
              <mat-option value="7" >PORT DE  RADES</mat-option>
              <mat-option value="8" >PORT DE ZARZIS</mat-option>
            </mat-select>
        </mat-form-field> 
        <mat-form-field appearance="outline" name="sens" >
                <mat-label>Sens</mat-label>
                <mat-select [(ngModel)]="sens" [(value)]="sens" name="sens" id="sens">
                  <mat-option value="I" >Import</mat-option>
                  <mat-option value="E" >Export</mat-option>
                  
                </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit"><mat-label style="font-size: 18px;">Valider</mat-label></button>
    </form>
</mat-card>

<mat-card *ngIf="searched==true">
    <table class="table table-striped">
        <thead>
        <tr><th scope="col">Modele:</th><th scope="col">Nbr Voit:</th></tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of tab">
            <th>{{row[0]}}</th><td>{{row[1]}}</td>
        </tr>
    </tbody>
    </table>
</mat-card>
</div>