<form  #newUser="ngForm"  (ngSubmit)="onClickSubmit(newUser.value)">
    <ol style="list-style-type: none;">
        <li>
        <h1 mat-dialog-title >Ajouter un utilisateur</h1>
    </li>  
    <mat-divider></mat-divider>
        <li>
            <input hidden="true" name="id" ngModel>
    <mat-form-field appearance="outline">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput ngModel required="true" name="username" type="text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput ngModel required="true" name="password" type="password">
      </mat-form-field>
    </li>
        <li>
        <mat-form-field appearance="outline">
            <mat-label>Nom</mat-label>
            <input matInput ngModel required="true" name="last_name" type="text">
          </mat-form-field>

          <mat-form-field appearance="outline" >
            <mat-label>Prénom</mat-label>
            <input matInput ngModel required="true" name="name" type="text">
          </mat-form-field>
        </li>
            <li>
        <mat-form-field appearance="outline" style="width: 300px;">
            <mat-label>Email</mat-label>
            <input matInput ngModel type="email" required="true" name="email" >
          </mat-form-field>
        </li>
        <li>
            <mat-form-field appearance="outline" name="port" >
                <mat-label>Port</mat-label>
                <mat-select ngModel="selected">
                  <mat-option value="1" >PORT DE LA GOULETTE</mat-option>
                  <mat-option value="3" >PORT DE BIZERTE</mat-option>
                  <mat-option value="4" >PORT DE SOUSSE</mat-option>
                  <mat-option value="5" >PORT DE SFAX</mat-option>
                  <mat-option value="6" >PORT DE GABES</mat-option>
                  <mat-option value="7" >PORT DE  RADES</mat-option>
                  <mat-option value="8" >PORT DE ZARZIS</mat-option>
                </mat-select>
              </mat-form-field>
        </li>
            <li>
        <mat-slide-toggle color="primary" ngModel labelPosition="before" name="role" >
            <mat-label>Admin</mat-label>
        </mat-slide-toggle>
        
        <mat-slide-toggle color="primary" ngModel labelPosition="before"  name="enabled">
            <mat-label style="margin-left: 8px;">Activée</mat-label>
        </mat-slide-toggle>
        
    </li>
    <li>
        <button mat-raised-button color="warn" type="button" (click)="onNoClick()"><mat-label style="font-size: 18px;">Annuler</mat-label></button>
        <button mat-raised-button color="primary" type="submit"><mat-label style="font-size: 18px;">Valider</mat-label></button>
    </li>
</ol>
</form>